[all]
%{ for name, vm in vms ~}
%{ if vm.ipv4 != "" ~}
${vm.name} ansible_host=${vm.ipv4} ansible_user=sysdev
%{ else ~}
# ${vm.name} has no IP yet
%{ endif ~}
%{ endfor ~}

[ubuntu_servers]
%{ for name, vm in vms ~}
%{ if contains(vm.tags, "os_ubuntu") ~}
${vm.name}
%{ endif ~}
%{ endfor ~}

[linux_servers]
%{ for name, vm in vms ~}
%{ if contains(vm.tags, "linux") ~}
${vm.name}
%{ endif ~}
%{ endfor ~}

[grafana_servers]
%{ for name, vm in vms ~}
%{ if contains(vm.tags, "grafana") ~}
${vm.name}
%{ endif ~}
%{ endfor ~}

[heatpump_servers]
%{ for name, vm in vms ~}
%{ if contains(vm.tags, "heatpump") ~}
${vm.name}
%{ endif ~}
%{ endfor ~}
